@charset "UTF-8";

@font-face {
    font-family: 'IDroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: #83E0AC;
}

.principal {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 3px 2px black;
}

h1#titulo {
    font-family: 'IDroid';
    color: #1a5742;
}

.topicos {
    font-family: 'IDroid';
    color: #145E33;
    background-image: linear-gradient(to right, #83e0ab70, #83e0ab09);
    margin: 6px;
}

nav > a:hover {
    background-color: rgb(3, 143, 3);
    border: 10px solid green;
    color: rgb(2, 90, 2);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 8px;
}

header#menu {
    padding: 16px 21px 12px 3px;
    background-color: green;
    color: white;
    height: 100%;
    width: 100%;
    margin: -16px;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.459);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.342), #83e0abb2);
}

.paragrafo {
    text-align: center;
    text-shadow: 1px 3px 2px black;
    margin: 20px;
    padding: 8px;
}

div {
    background-color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.801);
    padding: 1px 14px 77px 14px;
    margin: 16px 145px 30px 145px;
    border-radius: 0px 0px 18px 10px;
}

.link {
    color: green;
    font-weight: bold;
}

.link::after {
    content: '🔗';
}

.link:active {
    text-decoration: underline;
}

div#video {
    box-shadow: none;
    background-color: rgb(2, 100, 2);
    border-radius: 0;
    margin: -14px;
    padding: 22px 29px 22px 334px;
}

ul {
    list-style: none;
}

ul li::before {
    content: '✔';
}

.ultimoo {
    font-weight: bold;
}

.ultimo {
    background-color: #83e0ab96;
    margin: 40px 5px -3px 0px;
    border-radius: 10px 10px 0px 0px;
}

.paragrafos {
    text-indent: 20px;
    text-align: justify;
}

.android {
    color: green;
    font-weight: bold;
}

.imagem {
    display: flex;
    justify-content: center;
}

h3 {
    background-color: rgb(5, 116, 5);
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin: -1px -15px 1px -15px;
    padding: 8px 18px 11px 12px;
}

footer {
    background-color: rgb(2, 75, 2);
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
    height: 100%;
    width: 100%;
}